.idea/
.gradle/
gradle/cache/
Jenkinsfile
configuration.iml
build/
deploy/
generated/
generated_classes/
plugins/Gosu/idea-gclasses/
modules/configuration/build/
modules/configuration/generated/
modules/configuration/generated_classes/
modules/configuration/plugins/Gosu/idea-gclasses
modules/configuration/plugins/Gosu/gclasses/
modules/configuration/plugins/Gosu/gresources/
modules/configuration/configuration.iml
studio/
apitestbench/gradle/cache/
apitestbench/build/
apitestbench/target/
apitestbench/customer-api/build/
apitestbench/customer-api/target/
apitestbench/customer-api/out/
apitestbench/customer-karate/build/
apitestbench/customer-karate/target/
apitestbench/customer-karate/out/
