<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="AssignmentPopupDV">
    <Require
      name="AssignmentPopup"
      type="gw.api.assignment.AssignmentPopup"/>
    <Require
      name="SearchResult"
      type="gw.api.assignment.AssignmentProximitySearchResult"/>
    <Require
      name="SearchCriteria"
      type="gw.api.assignment.CCAssignmentSearchCriteria"/>
    <Variable
      initialValue="new gw.api.contact.CCProximitySearchPageHelper()"
      name="proximitySearchPageHelper"
      type="gw.api.contact.CCProximitySearchPageHelper"/>
    <Variable
      initialValue="null"
      name="grpType_Ext"
      type="GroupType"/>
    <InputColumn>
      <Label
        label="DisplayKey.get(&quot;Web.Assignment.Popup.SelectMethod&quot;)"/>
      <Choice
        id="FromList"
        option="&quot;FromList&quot;"
        value="AssignmentPopup.SelectionType"
        valueType="typekey.AssignmentSelectionType">
        <RangeInput
          available="AssignmentPopup.SelectionType == TC_FROMLIST"
          editable="true"
          id="SelectFromList"
          label="DisplayKey.get(&quot;Web.Assignment.Popup.SelectFromList&quot;)"
          required="AssignmentPopup.SelectionType == TC_FROMLIST"
          sortValueRange="false"
          value="AssignmentPopup.SelectedFromList"
          valueRange="AssignmentPopup.SuggestedAssignees"
          valueType="gw.api.assignment.Assignee">
          <PostOnChange
            onChange="grpType_Ext = null"/>
        </RangeInput>
        <RangeInput
          editable="true"
          id="GroupType_Ext"
          label="DisplayKey.get(&quot;Web.Assignment.Popup.SelectFromGroupType_Ext&quot;)"
          value="grpType_Ext"
          valueRange="typekey.GroupType.getTypeKeys(false)"
          valueType="typekey.GroupType"
          visible="AssignmentPopup typeis gw.api.claim.ClaimAssignmentPopup or AssignmentPopup typeis gw.api.exposure.ExposureAssignmentPopup or AssignmentPopup typeis gw.api.activity.ActivityAssignmentPopup">
          <PostOnChange
            onChange="AssignmentPopup.SelectedFromList = null"/>
        </RangeInput>
        <ButtonInput
          action="if(AssignmentPopup.performAssignment()) CurrentLocation.cancel()"
          id="AssignmentPopupScreen_ButtonButton"
          shortcut="G"
          value="DisplayKey.get(&quot;Web.Assignment.Popup.Button&quot;)"
          visible="grpType_Ext == null"/>
        <ButtonInput
          action="if (ext.config.assignment.AssignmentUtil_Ext.updGrpTypeandAssign(AssignmentPopup,grpType_Ext)) CurrentLocation.cancel()"
          id="AssignmentPopupScreen_ButtonButtonGrpType_Ext"
          shortcut="G"
          value="DisplayKey.get(&quot;Web.Assignment.Popup.ButtonbyGrpType_Ext&quot;)"
          visible="grpType_Ext != null"/>
      </Choice>
      <!-- <InputDivider/> -->
      <Choice
        id="FromSearch"
        option="&quot;FromSearch&quot;"
        value="AssignmentPopup.SelectionType"
        valueType="typekey.AssignmentSelectionType">
        <TextInput
          id="SelectFromSearch"
          label="DisplayKey.get(&quot;Web.Assignment.Popup.SearchByLocation&quot;)"
          value="AssignmentPopup.Picker.Selection"
          valueType="gw.api.assignment.Assignee"/>
      </Choice>
      <InputSet
        visible="proximitySearchPageHelper.useGeocodeUILocally()">
        <Choice
          id="FromProximitySearch"
          option="&quot;FromProximitySearch&quot;"
          value="AssignmentPopup.SelectionType"
          valueType="typekey.AssignmentSelectionType">
          <TextInput
            id="SelectFromProximitySearch"
            label="DisplayKey.get(&quot;Web.Assignment.Popup.SearchByLocationProximity&quot;)"
            value="AssignmentPopup.Picker.Selection"
            valueType="gw.api.assignment.Assignee"/>
        </Choice>
      </InputSet>
    </InputColumn>
    <Code><![CDATA[
function getGroup() : Group[]{

  return gw.api.database.Query.make(Group).select().toTypedArray()


}

]]></Code>
  </DetailViewPanel>
</PCF>